/*

!.gitignore

!readme.md
!readme.pdf

!Application_Raspberry/
Application_Raspberry/*
!Application_Raspberry/main.py
!Application_Raspberry/detection.py
!Application_Raspberry/connection.py
!Application_Raspberry/launcher.sh
!Application_Raspberry/models/


!Ausarbeitung/
Ausarbeitung/*
!Ausarbeitung/*.tex
!Ausarbeitung/Bilder/
!Ausarbeitung/*.pdf/

!Connection/
Connection/*
!Connection/socket/
Connection/socket/*
!Connection/socket/connection.py
!Connection/socket/server.py
!Connection/socket/client.py

!Connection/remote_it/
Connection/remote_it/*
!Connection/remote_it/connection.py
!Connection/remote_it/connection_test.py
!Connection/remote_it/test.jpg


!Dataset/
Dataset/*
!Dataset/handy_bilder/
!Dataset/classes.txt


!Inference_Engine_Tools/
Inference_Engine_Tools/*

!Inference_Engine_Tools/infer_test_images/
Inference_Engine_Tools/infer_test_images/*
!Inference_Engine_Tools/infer_test_images/detect_images.py
!Inference_Engine_Tools/infer_test_images/infer_test_images.py
!Inference_Engine_Tools/infer_test_images/infer_test_images_auto.py
!Inference_Engine_Tools/infer_test_images/readme.md
!Inference_Engine_Tools/infer_test_images/readme.pdf

!Inference_Engine_Tools/benchmark_tool/
Inference_Engine_Tools/benchmark_tool/*
!Inference_Engine_Tools/benchmark_tool/benchmark.py
!Inference_Engine_Tools/benchmark_tool/benchmark_auto.py
!Inference_Engine_Tools/benchmark_tool/readme.md
!Inference_Engine_Tools/benchmark_tool/readme.pdf

!Inference_Engine_Tools/samples/
Inference_Engine_Tools/samples/*
!Inference_Engine_Tools/samples/detection_images.py
!Inference_Engine_Tools/samples/motion_detection.py


!openvino_models/


!Preprocessing/
Preprocessing/*
!Preprocessing/augmentation/
!Preprocessing/tf_records/


!TensorFlow/
TensorFlow/*
!TensorFlow/openvino_convert_tf_object_detection.ipynb
!TensorFlow/train_object_detection_in_colab.ipynb


!Vortrag
Vortrag/*
!Vortrag/*.tex
!Vortrag/*.pdf
!Vortrag/Bilder/

