/*

!.gitignore

!Application/
Application/*
!Application/main.py
!Application/detection.py
!Application/connection.py
!Application/launcher.sh
!Application/models/
Application/models/samples_ssd_inception/exported_model
Application/models/animals_ssd_inception/exported_model
!Application/readme.*
#!Application/capture_image.py

!Ausarbeitung/
Ausarbeitung/*
!Ausarbeitung/*.tex
!Ausarbeitung/Bilder/
!Ausarbeitung/*.pdf

!Connection/
Connection/*

!Connection/socket_connection.py
!Connection/socket_server.py
!Connection/socket_client.py

!Connection/ssh_connection.py

!Connection/test.jpg
!Connection/readme.*


!Dataset/
Dataset/*
!Dataset/handy_bilder/
!Dataset/classes.txt
!Dataset/readme.*
!Dataset/remove_spaces.py

!Inference_Engine_Tools/
Inference_Engine_Tools/*
!Inference_Engine_Tools/readme.*

!Inference_Engine_Tools/infer_test_images/
Inference_Engine_Tools/infer_test_images/*
!Inference_Engine_Tools/infer_test_images/detect_images.py
!Inference_Engine_Tools/infer_test_images/infer_test_images.py
!Inference_Engine_Tools/infer_test_images/infer_test_images_auto.py
!Inference_Engine_Tools/infer_test_images/readme.*

!Inference_Engine_Tools/benchmark_tool/
Inference_Engine_Tools/benchmark_tool/*
!Inference_Engine_Tools/benchmark_tool/benchmark.py
!Inference_Engine_Tools/benchmark_tool/benchmark_auto.py
!Inference_Engine_Tools/benchmark_tool/readme.*

!Inference_Engine_Tools/samples/
Inference_Engine_Tools/samples/*
!Inference_Engine_Tools/samples/detection_images.py
!Inference_Engine_Tools/samples/motion_detection.py
!Inference_Engine_Tools/samples/readme.*

!openvino_models/
openvino_models/Animals/*/exported_model
openvino_models/samples/*/exported_model


!Preprocessing/
Preprocessing/*

!Preprocessing/augmentation/
Preprocessing/augmentation/.ipynb_checkpoints/

!Preprocessing/tf_records/
!Preprocessing/tf_records/.ipynb_checkpoints/


!TensorFlow/
TensorFlow/*
!TensorFlow/openvino_convert_tf_object_detection.ipynb
!TensorFlow/train_object_detection_in_colab.ipynb
!TensorFlow/readme.*


!Vortrag
Vortrag/*
!Vortrag/*.tex
!Vortrag/*.pdf
!Vortrag/Bilder/

